# =============== #
# Unity generated #
# =============== #
Unity/Temp/
Unity/Library/
Unity/Output/
Appelboom/Temp/
Appelboom/Library/
Appelboom/Output/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Unity/ExportedObj/
Unity/obj/
Appelboom/ExportedObj/
Appelboom/obj/
*.svd
*.userprefs
Unity/*.csproj
Appelboom/*.csproj
*.pidb
*.suo
Unity/*.sln
Appelboom/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db